@import '../../styles/vars';

.scrolling-wrapper {
    background-color: $primaryColor;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: 120px;
  
     & .user-card {
      flex: 0 0 auto;
      margin: .6rem;
      width: 80px;
      height: 100px;  
   }

   @media (min-width: $md) {
    & .user-card {
      width: 100px;
    }
  }

   @media (min-width: $lg) {
    & .user-card {
      width: 125px;
      margin: .8rem;
    }
    }
  }
  
   // remove scrollbar but keep content scrollable
  ::-webkit-scrollbar {
    display: none;
  }